<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Data Binding in Angular</a>
</nav>


<!-- Data binding Example -->
<!--<app-data-binding></app-data-binding>-->

<!-- Change User Name -->
<!--<app-change-username></app-change-username>-->

<!-- change Password -->
<!--<app-change-password></app-change-password>-->


<!-- Range Select -->
<!--<app-range-select></app-range-select>-->

<!-- Stop Watch -->
<app-stop-watch></app-stop-watch>


<div style="margin-bottom: 500px"></div>
